{% extends '@EasyAdmin/page/content.html.twig' %} {# Étend le template de base d'EasyAdmin #}

{% block content %} {# Bloc pour le contenu principal #}
    <div class="jumbotron"> {# Conteneur principal style "jumbotron" #}
        <h1>Bienvenue dans l'administration de la Bibliothèque</h1> {# Titre principal #}
        <p>Utilisez le menu à gauche pour gérer vos livres.</p> {# Description #}
    </div>
{% endblock %}